* {
    line-height: 1.5;
    text-align: center;
}

.recipe-card {
    padding: 5px;
    margin: 0 auto;
    width: 950px;
    font-size: 28px;
}
.recipe-card h4 {
    margin-top: -20px;
    margin-bottom: 0px auto;
    text-align: left;
}

.recipe-card img {
    width: 950px;
    height: auto;
    margin: auto;
}
